*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utility classes */


/* flex classes start */

.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.justify-evenly{
    justify-content: space-evenly;
}
.align-center{
    align-items: center;
}
.align-between{
    align-items: space-between;
}
.align-around{
    align-items: space-around;
}
.align-evenly{
    align-items: space-evenly;
}
.wrap{
    flex-wrap: wrap;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}

/* flex classes end */


/* margin classes start */
.m-1{
    margin: 5px;
}
.m-2{
    margin: 10px;
}
.m-3{
    margin: 15px;
}
.m-4{
    margin: 20px;
}
.mt-1{
    margin-top: 5px;
}
.mt-2{
    margin-top: 10px;
}
.mt-3{
    margin-top: 15px;
}
.mt-4{
    margin-top: 20px;
}

/* margin classes end */

.center{
    text-align: center;
}